* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #74C69D;
    color: white;

    .container {
        font-family: "Work Sans", sans-serif;
        flex-basis: 1280px;
        margin: 0 20px;

        @media(min-width:1280px) {
            max-width: 1280px;
        }

        main {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 20px 0;

            .nav-heading {

                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    margin: 20px 20px 20px 0;

                    @media(max-width:768px) {
                        height: 3rem;
                        margin-right: 1rem;
                    }
                }


                h1 {
                    font-size: 3rem;
                    font-weight: 400;

                    @media(max-width :768px) {
                        font-size: 2.5rem;
                    }
                }
            }

            .nav-pages {
                flex-basis: 500px;

                @media(max-width :768px) {
                    display: none;
                }


                ul {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-basis: 300px;

                    li {
                        a {
                            color: white;
                            text-decoration: none;
                        }

                        list-style: none;
                        font-size: larger;
                    }
                }

            }

            .menu {
                img {
                    height: 4rem;
                }

                @media(min-width :769px) {
                    display: none;
                }
            }
        }
    }
}


.container1 {
    display: flex;
    justify-content: center;
    font-family: "Work Sans", sans-serif;

    // align-items: center;

    section {
        flex-basis: 1280px;
        margin: 50px 20px;

        @media(min-width:1280px) {
            max-width: 1280px;
        }

        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            row-gap: 30px;

            h4 {
                color: #74C69D;
                letter-spacing: 6px;
            }

            h1 {
                font-size: 3rem;
                font-family: "Crimson Text", serif;

            }

            p {
                width: 30%;
                text-align: center;
                font-size: larger;

                @media(max-width:769px) {
                    width: 100%;
                }
            }

            .cards {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-items: center;
                width: 100%;
                row-gap: 60px;

                @media(max-width:1124px) {
                    display: flex;
                    // grid-template-columns: 1fr;
                    flex-direction: column;

                    img {
                        width: 100%;
                    }
                }
            }

            button {
                border: none;
                border-radius: 6px;
                padding: 20px 40px;
                font-size: large;
                background-color: black;
                color: white;
            }
        }
    }

}



footer {
    background-color: #74C69D;
    padding: 40px 0;
    color: white;
    font-family: "Work Sans", sans-serif;
    display: flex;
    justify-content: center;

    @media(max-width:769px) {
        padding: 40px 0px;

    }

    .container {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 20px;

        @media(min-width:1280px) {
            max-width: 1280px;
            margin: 0 20px;

        }

        main {
            display: flex;
            justify-content: space-between;
            width: 100%;
            row-gap: 20px;

            @media(max-width:769px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 60%;

            }

            @media(max-width:525px) {
                width: 100%;
            }

            .social-media {
                display: flex;
                justify-content: space-between;
                column-gap: 25px;

                @media(max-width:769px) {
                    width: 100%;
                }
            }

            p {
                font-size: larger;

                @media(max-width:769px) {
                    font-size: large;
                    text-align: center;
                }
            }
        }
    }
}